@page "/calculator"
@page "/calc"
@rendermode InteractiveAuto

<h3>Calculator</h3>
<div>
    <button class="btn btn-primary" id="modulo">%</button>
    <button class="btn btn-primary" id="clearEntry">CE</button>
    <button class="btn btn-primary" id="clearCalc">C</button>
    <button class="btn btn-primary" id="backspace">B</button>
    <button class="btn btn-primary" id="reciprocal">1/X</button>
    <button class="btn btn-primary" id="square">Sq</button>
    <button class="btn btn-primary" id="squareRoot">SqRt</button>
    <button class="btn btn-primary" id="divide">/</button>
    <button class="btn btn-primary" id="seven">7</button>
    <button class="btn btn-primary" id="eight">8</button>
    <button class="btn btn-primary" id="nine">9</button>
    <button class="btn btn-primary" id="multiply">x</button>
    <button class="btn btn-primary" id="four">4</button>
    <button class="btn btn-primary" id="fifth">5</button>
    <button class="btn btn-primary" id="six">6</button>
    <button class="btn btn-primary" id="subtract">-</button>
    <button class="btn btn-primary" id="one">1</button>
    <button class="btn btn-primary" id="two">2</button>
    <button class="btn btn-primary" id="three">3</button>
    <button class="btn btn-primary" id="plus">+</button>
    <button class="btn btn-primary" id="sign">+/-</button>
    <button class="btn btn-primary" id="zero">0</button>
    <button class="btn btn-primary" id="decimal">.</button>
    <button class="btn btn-primary" id="equals">=</button>
</div>

@code {

}
