@page "/calculator"
@page "/calc"
@rendermode InteractiveAuto

<h3>Calculator</h3>
<div class="container text-center">
    <div class="row">
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="modulo">%</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="clearEntry">CE</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="clearCalc">C</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="backspace">B</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="reciprocal">1/X</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="square">Sq</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="squareRoot">SqRt</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="divide">/</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="seven">7</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="eight">8</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="nine">9</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="multiply">x</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="four">4</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="fifth">5</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="six">6</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="subtract">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="one">1</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="two">2</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="three">3</button>
        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="plus">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="sign">+/-</button>

        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="zero">0</button>

        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="decimal">.</button>

        </div>
        <div class="col p-0 m-1">
            <button class="btn btn-primary w-100" id="equals">=</button>

        </div>
    </div>

</div>

@code {

}
